.depoimentos ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .depoimentos ul {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
